@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts for a modern, high-quality look */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Playfair+Display:wght@400;700&display=swap');

/* Apply global mobile-first styling */
body {
  /* Apply the custom cream background and Inter font globally */
  @apply bg-secondary text-gray-800 font-sans;
}

/* Base styling for the main content area */
.main-content {
  @apply min-h-screen ; /* Add padding top/bottom */
}